[Unit]
Description=VMware Shared Folder - aneeshneelam
After=open-vm-tools.service
Requires=open-vm-tools.service
Before=snap.k8s.kubelet.service

[Mount]
What=.host:/aneeshneelam
Where=/mnt/aneeshneelam
Type=fuse.vmhgfs-fuse
Options=allow_other,umask=000,defaults

[Install]
WantedBy=multi-user.target
