[Unit]
Description=VMware Shared Folder - Media
After=open-vm-tools.service
Requires=open-vm-tools.service

[Mount]
What=.host:/Media
Where=/mnt/Media
Type=fuse.vmhgfs-fuse
Options=allow_other,umask=000,defaults

[Install]
WantedBy=multi-user.target
