[Unit]
Description=VMware Shared Folder - Media
After=systemd-modules-load.service
Requires=systemd-modules-load.service
Before=snap.k8s.kubelet.service

[Mount]
What=.host:/Media
Where=/mnt/Media
Type=fuse.vmhgfs-fuse
Options=allow_other,umask=000,defaults

[Install]
WantedBy=multi-user.target
